<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoicGxheWdyb3VuZHRlc3RlciIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJo
		dHRwczpcL1wvZ2l0aHViLmNvbVwvTG9zaW93YXR5XC9QbGF5Z3JvdW5kVGVz
		dGVyLmdpdCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQi
		OnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIwLjMuMSIsInVwcGVyQm91bmQi
		OiIxLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6
		ImRhdGFjb21wcmVzc2lvbiIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRw
		czpcL1wvZ2l0aHViLmNvbVwvbXc5OVwvRGF0YUNvbXByZXNzaW9uLmdpdCJd
		fSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2Ui
		Olt7Imxvd2VyQm91bmQiOiIzLjguMCIsInVwcGVyQm91bmQiOiI0LjAuMCJ9
		XX19XX1dLCJkaXNwbGF5TmFtZSI6IkFJcGxheSIsInBhY2thZ2VLaW5kIjp7
		InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpbXSwicGxhdGZv
		cm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE2LjAifV0sInByb2R1Y3RzIjpb
		eyJuYW1lIjoiQUlwbGF5Iiwic2V0dGluZ3MiOlt7ImRpc3BsYXlWZXJzaW9u
		IjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0FwcElu
		Zm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNldENv
		bG9yIjp7InJhd1ZhbHVlIjoieWVsbG93In19fSwiYWRkaXRpb25hbEluZm9Q
		bGlzdENvbnRlbnRGaWxlUGF0aCI6IkluZm8ucGxpc3QiLCJhcHBJY29uIjp7
		ImFzc2V0Ijp7Im5hbWUiOiJBcHBJY29uIn19LCJjYXBhYmlsaXRpZXMiOltd
		LCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJz
		dXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7
		fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319
		LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VG
		YW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVs
		ZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6
		eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIlBs
		YXlncm91bmRUZXN0ZXIiLCJQbGF5Z3JvdW5kVGVzdGVyIixudWxsLG51bGxd
		fSx7InByb2R1Y3QiOlsiRGF0YUNvbXByZXNzaW9uIiwiRGF0YUNvbXByZXNz
		aW9uIixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9k
		dWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3si
		a2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xh
		c2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoic3dpZnQifSx7ImNvbmRpdGlv
		biI6eyJjb25maWciOiJkZWJ1ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwia2lu
		ZCI6eyJkZWZpbmUiOnsiXzAiOiJURVNUSU5HX0VOQUJMRUQifX0sInRvb2wi
		OiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7
		ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJQbGF5Z3JvdW5kVGVzdGVy
		IiwiUGxheWdyb3VuZFRlc3RlciIsbnVsbCxudWxsXX0seyJwcm9kdWN0Ijpb
		IkRhdGFDb21wcmVzc2lvbiIsIkRhdGFDb21wcmVzc2lvbiIsbnVsbCxudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIu
		IiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxl
		VXBjb21pbmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFs
		cyJ9fSwidG9vbCI6InN3aWZ0In0seyJjb25kaXRpb24iOnsiY29uZmlnIjoi
		ZGVidWciLCJwbGF0Zm9ybU5hbWVzIjpbXX0sImtpbmQiOnsiZGVmaW5lIjp7
		Il8wIjoiVEVTVElOR19FTkFCTEVEIn19LCJ0b29sIjoic3dpZnQifV0sInR5
		cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24i
		OiI1LjguMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		0pspI5R1+i9kZIqzYCKFvW/gf/8OrZfxo+t6/DU/meI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
