<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoicGxheWdyb3VuZHRlc3RlciIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3si
		dXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL0xvc2lvd2F0eVwv
		UGxheWdyb3VuZFRlc3Rlci5naXQifV19LCJwcm9kdWN0RmlsdGVyIjpudWxs
		LCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjAuMy4x
		IiwidXBwZXJCb3VuZCI6IjEuMC4wIn1dfX1dfSx7InNvdXJjZUNvbnRyb2wi
		Olt7ImlkZW50aXR5IjoiZGF0YWNvbXByZXNzaW9uIiwibG9jYXRpb24iOnsi
		cmVtb3RlIjpbeyJ1cmxTdHJpbmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwv
		bXc5OVwvRGF0YUNvbXByZXNzaW9uLmdpdCJ9XX0sInByb2R1Y3RGaWx0ZXIi
		Om51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoi
		My44LjAiLCJ1cHBlckJvdW5kIjoiNC4wLjAifV19fV19XSwiZGlzcGxheU5h
		bWUiOiJBSXBsYXkiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRm
		b3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZl
		cnNpb24iOiIxNi4wIn1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IkFJcGxheSIs
		InNldHRpbmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpbImNvbS5vdGFidXp6
		bWFuLmFpcGxheS5pb3MiXX0seyJ0ZWFtSWRlbnRpZmllciI6WyIyOEZWNDQ2
		NTdCIl19LHsiZGlzcGxheVZlcnNpb24iOlsiMS4yLjE3Il19LHsiYnVuZGxl
		VmVyc2lvbiI6WyI0MSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9y
		Ijp7InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoi
		eWVsbG93In19fSwiYWRkaXRpb25hbEluZm9QbGlzdENvbnRlbnRGaWxlUGF0
		aCI6IlJlc291cmNlc1wvQWRkaXRpb25hbEluZm8ucGxpc3QiLCJhcHBDYXRl
		Z29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkuZWR1Y2F0
		aW9uIn0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0s
		ImNhcGFiaWxpdGllcyI6W10sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpb
		InBhZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9u
		cyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7ImNvbmRp
		dGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fSx7ImxhbmRzY2Fw
		ZUxlZnQiOnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJd
		fX19LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZp
		Y2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1v
		ZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1h
		cCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0Ijpb
		IlBsYXlncm91bmRUZXN0ZXIiLCJQbGF5Z3JvdW5kVGVzdGVyIixudWxsLG51
		bGxdfSx7InByb2R1Y3QiOlsiRGF0YUNvbXByZXNzaW9uIiwiRGF0YUNvbXBy
		ZXNzaW9uIixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBw
		TW9kdWxlIiwicGFja2FnZUFjY2VzcyI6ZmFsc2UsInBhdGgiOiIuIiwicmVz
		b3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNz
		Ijp7fX19XSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21pbmdG
		ZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwidG9v
		bCI6InN3aWZ0In0seyJjb25kaXRpb24iOnsiY29uZmlnIjoiZGVidWciLCJw
		bGF0Zm9ybU5hbWVzIjpbXX0sImtpbmQiOnsiZGVmaW5lIjp7Il8wIjoiVEVT
		VElOR19FTkFCTEVEIn19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVj
		dXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7InByb2R1
		Y3QiOlsiUGxheWdyb3VuZFRlc3RlciIsIlBsYXlncm91bmRUZXN0ZXIiLG51
		bGwsbnVsbF19LHsicHJvZHVjdCI6WyJEYXRhQ29tcHJlc3Npb24iLCJEYXRh
		Q29tcHJlc3Npb24iLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUi
		OiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0aCI6Ii4i
		LCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxlIjp7InBy
		b2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNv
		bWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19
		LCJ0b29sIjoic3dpZnQifSx7ImNvbmRpdGlvbiI6eyJjb25maWciOiJkZWJ1
		ZyIsInBsYXRmb3JtTmFtZXMiOltdfSwia2luZCI6eyJkZWZpbmUiOnsiXzAi
		OiJURVNUSU5HX0VOQUJMRUQifX0sInRvb2wiOiJzd2lmdCJ9XSwidHlwZSI6
		ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUu
		OC4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		ZRXMBncZ9njGBYvobelGuNjet5psUHnTCmLDdIWxDuQ=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
